[submodule "musl"]
	path = musl
	url = https://github.com/jevinskie/musl-libc-aarch64-baremetal
	branch = jev/main
[submodule "jevmachopp"]
	path = jevmachopp
	url = https://github.com/jevinskie/jevmachopp
